extends ../layouts/application.pug

block header
    =t('views.statuses.edit')

block content
    +formFor()(action=route('updateStatus', { id: status.id } ) method='post')
        +input(errors, t('views.statuses.name'), status.name, status)(type="text")
        +submitChange(status)(class='btn btn-primary' value=t('views.statuses.change'))